@import url('../assets/fonts/HelveticaNowDisplay-Bold');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: 'Helvetica-Regular';
      src: url('/assets/fonts/Helvetica-Regular.woff2') format('woff2');
      /* font-weight: 400; */
      font-display: swap;
      font-style: normal;
    }
  }
  